<mat-form-field class="select-options">
  <mat-label>Raza de gato:</mat-label>
  <mat-select [(value)]="selectedCat" (selectionChange)="onChangeSelected()">
      <mat-option *ngFor="let cat of cats" [value]="cat.id">{{cat.name}}</mat-option>
  </mat-select>
</mat-form-field>
