<div class="container bg-light border border-2">
    <div class="row justify-content-center">
        <div class="col text-center">
            <img [src]="src" class="img-fluid" alt="missing-cat" width="250" height="250">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col text-center">
            {{text}}
        </div>
    </div>
</div>
