<ngb-carousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let image of images">
		<div class="image-carousel container-fluid">
            <img [src]="image.url"class="img-fluid" alt="...">
		</div>
		<div class="carousel-caption">
			<h1 class="image-carousel__title">{{cat.name}}</h1>
			<p class="image-carousel__text bg-light">{{cat.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>