.image-carousel{
    width: 100%;
    max-height: 500px;
    &__title{
        font-size: 32px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    &__text{
        padding: 5px;
        border-radius: 5px;
        color: black;
    }
}