<nav class="navbar bg-white">
    <div class="container-fluid">
      <app-simple-icon [icon]="'menu'"></app-simple-icon>
      <img src="../../../assets/images/cat-flat-logo.png" alt="cat-logo" width="63" height="50">
    </div>
</nav>