<div class="container-fluid login">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 bg-light text-center">
            <h3 class="mt-3">REGISTRO</h3>
            <form [formGroup]="registerForm">
                <div class="example-container">
                    <mat-form-field class="login__input">
                      <mat-label>Email</mat-label>
                      <input matInput
                             placeholder="email@example.com"
                             formControlName="email"
                             required>
                        <mat-error *ngIf="registerForm.controls['email'].invalid">Email inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="'text'" formControlName="password">
                        <mat-error *ngIf="registerForm.controls['password'].invalid">Contraseña inválida</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Nombre</mat-label>
                        <input matInput [type]="'text'" formControlName="firstName">
                        <mat-error *ngIf="registerForm.controls['firstName'].invalid">Nombre requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Apellido</mat-label>
                        <input matInput [type]="'text'" formControlName="lastName">
                        <mat-error *ngIf="registerForm.controls['lastName'].invalid">Apellido requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Identificacion</mat-label>
                        <input matInput [type]="'text'" formControlName="identification">
                        <mat-error *ngIf="registerForm.controls['identification'].invalid">Identificación requerida</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Telefono</mat-label>
                        <input matInput [type]="'text'" formControlName="phone">
                        <mat-error *ngIf="registerForm.controls['phone'].invalid">Telefono requerido</mat-error>
                    </mat-form-field>


                    
                    <div class="row">
                        <div class="col-6">
                            <a href="/login" class="btn btn-danger mx-3 my-3">Volver</a>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary mx-3 my-3" (click)="onSubmit()">Registrarse</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
