<app-horizontal-bar-menu></app-horizontal-bar-menu>
<div class="container text-center">
    <div class="row justify-content-between mt-3">
        <div class="col-3">
            <app-icon-card [icon]="'pets'" [text]="'Razas de gatos'" [data]="totalCats"></app-icon-card>
        </div>
        <div class="col-3" *ngIf="currentRoute == '/cat'">
            <app-select-options (emitChangeCat)="listenCatSelected($event)"></app-select-options>
        </div>
        <div class="col-3 bg-light shadow shadow-sm py-4">
            <div class="cat__buttons">
                 <a href="/cat/table" class="btn btn-lg btn-warning" *ngIf="currentRoute == '/cat'; else returnButton">Ver tabla de razas</a>
                <ng-template #returnButton>
                    <div class="cat__buttons__back">
                        <a href="/cat"><app-simple-icon [icon]="'arrow_back'"></app-simple-icon></a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row" *ngIf="currentRoute == '/cat'; else childRoutes">
        <div class="col-12" *ngIf="imagesCat; else voidFrame">
            <app-image-carousel [images]="imagesCat" [cat]="selectedCat"></app-image-carousel>
        </div>
        <ng-template #voidFrame>
            <app-void-frame 
                [src]="'../../../assets/images/missing-cat.png'" 
                [text]="'Selecciona una raza para ver la información'">
            </app-void-frame>
        </ng-template>
    </div>
    <ng-template #childRoutes>
        <router-outlet></router-outlet>
    </ng-template>
</div>