<div class="container-fluid login">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 bg-light text-center">
            <h3 class="mt-3">INGRESO</h3>
            <form [formGroup]="loginForm">
                <div class="example-container">
                    <mat-form-field class="login__input">
                      <mat-label>Email</mat-label>
                      <input matInput
                             placeholder="email@example.com"
                             formControlName="email"
                             required>
                        <mat-error *ngIf="loginForm.controls['email'].invalid">Email inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="login__input">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls['password'].invalid">Contraseña inválida</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success mx-3 my-3" (click)="onSubmit()">Ingresar</button>
                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <a href="/login/register">Registrarse</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
