<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Raza, País" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> País origen </th>
        <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
      </ng-container>
    
      <ng-container matColumnDef="temperament">
        <th mat-header-cell *matHeaderCellDef> Temperamento </th>
        <td mat-cell *matCellDef="let element"> {{element.temperament}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="adaptability">
          <th mat-header-cell *matHeaderCellDef> Adaptabilidad </th>
          <td mat-cell *matCellDef="let element"> {{element.adaptability}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="child_friendly">
          <th mat-header-cell *matHeaderCellDef> Amistoso con niños </th>
          <td mat-cell *matCellDef="let element"> {{element.child_friendly}} </td>
      </ng-container>
  
          <!-- Symbol Column -->
      <ng-container matColumnDef="intelligence">
          <th mat-header-cell *matHeaderCellDef> Inteligencia</th>
          <td mat-cell *matCellDef="let element"> {{element.intelligence}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="health_issues">
          <th mat-header-cell *matHeaderCellDef> Problemas de salud </th>
          <td mat-cell *matCellDef="let element"> {{element.health_issues}} </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
