<div class="icon-card d-flex shadow-sm">
    <div class="icon-card__icon bg-warning d-flex justify-content-center align-items-center">
        <app-simple-icon [icon]="icon"></app-simple-icon>
    </div>
    <div class="icon-card__content w-100">
        <div class="icon-card__content__data pt-4 pb-3 text-center">
            {{data}}
        </div>
        <div class="icon-card__content__text pt-2 text-center">
            {{text}}
        </div>
    </div>  
</div>
