.icon-card{
    max-width: 300px;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;

    &__icon{
        width: 80px;
        border-radius: 10px 0px 0px 10px;
    }

    &__content{
        &__data{
            font-size: 45px;
        }
        &__text{
            font-size: 18px;
        }
    }
}