/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; background-color: #edf2fb;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
